<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2bR5nXKqxD48Z7wrTCsK8yuOkWKXIsWY</string>
	<key>GCM_SENDER_ID</key>
	<string>410697487099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuan1Ltdd</string>
	<key>PROJECT_ID</key>
	<string>ltdd-th-lehoangnam</string>
	<key>STORAGE_BUCKET</key>
	<string>ltdd-th-lehoangnam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410697487099:ios:5bd43a3dec3cacb3dfd65e</string>
</dict>
</plist>